@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --color1:#FB421E;
    --color2:#202020;
    --color3: #F5F5F5;
}
html {
    scroll-behavior: smooth;
}
.content{
    background-color: var(--color2);
    width: 100%;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 0 5%;
    position: fixed;
    background-color: var(--color2);
    z-index: 1;
    border-bottom: solid 1px var(--color1);

}
.main-nav img{
    width: 8%;
}
.nav{  
    display: flex;
   
}
.nav-btn {
    display: flex;
}
.nav-btn li{
    padding: 0 35px;
    list-style: none;
    letter-spacing: 0.1em;
}
.nav-btn a{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.1em;
}
.nav-btn li a:hover{
    color: var(--color1);
    transition: color .2s ease-in-out;
}
.menu-cta {
    display: none;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: var(--color2);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  .overlay--active {
    width: 50%;
  }
  .overlay_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  .mobile_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .mobile_nav li {
    list-style: none;
    padding: 10px;
  }
  .mobile_nav a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    transition: color 0.3s ease 0s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: var(--color1);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    color: #f5f5f5;
  }
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info {
    text-align: center;
}
.hero span {
    font-size: 3.5em;
    color: var(--color1);
    background: -webkit-linear-gradient( #FB421E 60%, #4E1004 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color3);
    font-size: 3em;
    position: relative;
}
.introduction::after {
    content: ".............";
    letter-spacing: 10px;
    font-size: 7rem;
    color: var(--color1);
    display: flex;
    position: absolute;
    top: 10%;
}
.main-btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-top: 110px;
}
.dl-cv{
    color: var(--color3);
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: .5rem;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    background-color: var(--color1);
    cursor: pointer;
}
.dl-cv:hover{
    transition: all .2s ease-in-out;
    background-color: var(--color1);
    box-shadow: 0 5px 15px var(--color1);
}
.hire-me{
    color: var(--color3);
    font-size: 1.3em;
    width: 13%;
    text-align: center;
    cursor: pointer;
}
.hire-me a {
    text-decoration: none;
    color: var(--color3);
}
.hire-me a:hover{
    transition: color .2s ease-in-out;
    color: var(--color1);
}
.about{
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    border-bottom: solid 1px var(--color1);
}
.profile-section{
    display: flex;
    width: 33%;
    height: 100%;
    border-right: solid 1px var(--color1);
    border-top: solid 1px var(--color1);
    background-image: url('/components/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.about-section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 67%;
    padding: 15px;
    border-top: solid 1px var(--color1);
    /* border-bottom: solid 1px var(--color1); */
}
.title1{
    display: flex;
    border: dashed 1px var(--color1);
    justify-content: center;
    padding: 10px 0;
}
.title1 h1{
    color: var(--color1);
    font-size: 3em;
    letter-spacing: 0.1em;
}
.short-intro{
    font-size: 1.5em;
    color: var(--color3);
    margin-top: 20px;
    padding: 0 20px;
}
.short-intro h2{
    line-height: 2.5;
    font-weight: 600;
}
.short-intro p{
    margin-bottom: 2em;
}
.name{
    color: var(--color1);
}
.now-title h2 {
    padding: 0 20px;
    color: var(--color1);
    font-size: 2em;
}
.gen-con{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.con1{
    display: flex;
    padding: 20px;
    width: 50%;
}
.now1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.list1 {
    list-style: none;
    padding: 30px;
    color: var(--color3);
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1.8em;
    gap: 1rem;
    cursor: default;
}
.list1 p:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}
.list2 {
    list-style: none;
    padding: 30px;
    color: var(--color3);
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1.8em;
    gap: 1rem;
    cursor: default;
}
.list2 p:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}
.con2{
    display: flex;
    padding: 20px;
    width: 50%;
}
.list3 {
    list-style: none;
    padding: 30px;
    color: var(--color3);
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1.8em;
    gap: 1rem;
    cursor: default;
}
.list3 p:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}
.list4 {
    list-style: none;
    padding: 30px;
    color: var(--color3);
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1.8em;
    gap: 1rem;
    cursor: default;
}
.list4 p:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}
.resume{
    display: flex;
    border-bottom: solid 1px var(--color1);
    height: 100vh;
}
.resume-sec{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 5% 20px 0 20px;

}
.title2 {
    display:flex ;
    border: dashed 1px var(--color1);
    justify-content: center;
}
.title2 h1{
    color: var(--color1);
    font-size: 3em;
    letter-spacing: 0.1em;
    text-align: center;
}
.main-con1{
    display: flex;
    width: 100%;   
    height: 100%;
}
.left-sec{

    width: 50%;
    height: 100%; 
    padding: 20px 0;
}
.left-sec h2{
    color: var(--color1);
    font-size: 3em;
    font-weight: 700;
    border-bottom: solid 1px var(--color1);
    height: 10%;
    padding-left: 20px;
}
.educ-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    gap: 20%;  
    padding: 20px; 
}
.educ1{
    display: flex;
    flex-direction: column;
}
.educ1 h3{
    color: var(--color1);
    font-size: 2.5em;
}
.educ1 h4{
    color: var(--color3);
    font-size: 2em;
    font-weight: 600;
}
.educ1 p{
    color: var(--color3);
    font-size: 1.5em;
    font-weight: 400;
}
.educ2{
    display: flex;
    flex-direction: column;
}
.educ2 h3{
    color: var(--color1);
    font-size: 2.5em;
}
.educ2 h4{
    color: var(--color3);
    font-size: 2em;
    font-weight: 600;
}
.educ2 p{
    color: var(--color3);
    font-size: 1.5em;
    font-weight: 400;
}
.right-sec{
display: flex;
flex-direction: column;
    width: 50%;
    height: 100%; 
    padding: 20px 0px 20px 20px;
}
.skill-con{
    border-right: solid 1px var(--color1);
    border-left: solid 1px var(--color1);
    width: 100%;
    height: 90%; 
    padding: 20px;
}
.right-sec h2{
    color: var(--color1);
    font-size: 3em;
    width: 100%;
    height: 10%;
    text-align: center;
    border-right: solid 1px var(--color1);
    border-left: solid 1px var(--color1);
}
.skill-wrap{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.skills li{
    list-style: none;
}
.s-list1{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.s-list1 img{
    height:70px
}
.s-list1 p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:var(--color3);
}
.s-list2{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.s-list2 img{
    height:70px
}
.s-list2 p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:var(--color3);
}
.s-list3{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.s-list3 img{
    height:70px
}
.s-list3 p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:var(--color3);
}
.s-list4{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.s-list4 img{
    height:70px
}
.s-list4 p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:var(--color3);
}
.s-list5{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.s-list5 img{
    height:75px
}
.s-list5 p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:var(--color3);
}
.portfolio {
    display: flex;
    width: 100%;
    height: 260vh;
    flex-direction: column;
    padding: 20px;
}
.portfolio-sec {
    display: flex;
    flex-direction: column;
    padding-top:4%;
    width: 100%;
    height: 70%;

}
.title3 {
    color: var(--color1);
    text-align: center;
    font-size: 2em;
    border: dashed 1px var(--color1);
}
.works-title{
    margin-top: 10px;
    display: flex;
    border-bottom: solid 1px var(--color1);
    width: 100%;
    padding: 10px;
}
.works-title h2{
    color: var(--color1);
    font-size: 2.5em;
}
.gen-con1{
    position: relative;
    height: 100%;
    padding: 30px;
    display: flex;
}
.work-con1{
    padding: 10px;
    display: flex;
    gap: 15px;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.work-con1 p{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2em;
}

.work1{
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.work1 img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    transition: transform 0.8s ease;
}
.work1 img:hover{
    transform: scale(1.5);
    color: var(--color1);
}

.work2{
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.work2 img{
    width: 100%;
    height: 350px;
    transition: transform 0.8s ease;
}
.work2 img:hover{
    transform: scale(1.5);
}
.work3{
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.work3 img{
    width: 100%;
    height: 350px;
    transition: transform 0.8s ease;
}
.work3 img:hover{
    transform: scale(1.5);
}

.work-con2{
    padding: 10px;
    display: flex;
    gap: 15px;
    width: 50%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.work-con2 p{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2em;
}
.work4{
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.work4 img{
    width: 100%;
    height: 350px;
    transition: transform 0.8s ease;
}
.work4 img:hover{
    transform: scale(1.5);
}
.work5{
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.work5 img{
    width: 100%;
    height: 350px;
    transition: transform 0.8s ease;
}
.work5 img:hover{
    transform: scale(1.5);
}
.work6{
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.work6 img{
    width: 100%;
    height: 350px;
    transition: transform 0.8s ease;
}
.work6 img:hover{
    transform: scale(1.5);
}

.pricing-sec{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
}

.pricing-title{
    margin-top: 10px;
    display: flex;
    border-bottom: solid 1px var(--color1);
    width: 100%;
}
.pricing-title h2{
    color: var(--color1);
    font-size: 2.5em;
}
.pricing-con{
    display: flex;
    border: solid 1px white;
    height: 100%;
    padding: 20px;
}
.price{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 5%;
    justify-content: space-between;
}
.price1{
    color:var(--color3);
    display: flex;
    border: 1px solid var(--color3);
    width: 25%;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
    cursor: default;
}
.price1 h3{
    font-size: 1.5em;
    text-align: center;
    height: 20%;
    width: 90%;
    font-weight: 600;
}
.price1 .money{
    font-size: 1.4em;
    width: 90%;
    height: 10%;
    text-align: center;
}
.price1 .details{
    display: flex;
    align-items: flex-end;
    font-size: 1.4em;
    border-bottom: 1px solid var(--color3);
    width: 100%;
    height: 20%;
    font-weight: 500;
}
.price1 .text{
    font-size: 1.2em;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.price1:hover{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    border: solid 1px var(--color1);
}
.price1:hover .details{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    border-bottom: solid 1px var(--color1);
}
.price2{
    color:var(--color3);
    display: flex;
    border: 1px solid var(--color3);
    width: 25%;
    padding: 20px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
    cursor: default;
}
.price2 h3{
    font-size: 1.5em;
    text-align: center;
    height: 20%;
    width: 90%;
    font-weight: 600;
}
.price2 .money{
    font-size: 1.4em;
    width: 90%;
    height: 10%;
    text-align: center;
}
.price2 .details{
    display: flex;
    align-items: flex-end;
    font-size: 1.4em;
    border-bottom: 1px solid var(--color3);
    width: 100%;
    height: 20%;
    font-weight: 500;
}
.price2 .text{
    font-size: 1.2em;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.price2:hover{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    border: solid 1px var(--color1);
}
.price2:hover .details{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    border-bottom: solid 1px var(--color1);
}
.price3{
    color:var(--color3);
    display: flex;
    border: 1px solid var(--color3);
    width: 25%;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
    cursor: default;
}
.price3 h3{
    font-size: 1.5em;
    text-align: center;
    height: 20%;
    width: 90%;
    font-weight: 600;
}
.price3 .money{
    font-size: 1.4em;
    width: 90%;
    height: 10%;
    text-align: center;
}
.price3 .details{
    display: flex;
    align-items: flex-end;
    font-size: 1.4em;
    border-bottom: 1px solid var(--color3);
    width: 100%;
    height: 20%;
    font-weight: 500;
}
.price3 .text{
    font-size: 1.2em;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.price3:hover{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    border: solid 1px var(--color1);
}
.price3:hover .details{
    color: var(--color1);
    transition: all 0.3s ease-in-out;
    border-bottom: solid 1px var(--color1);
}
.contact{
    display: flex;
    height: 85vh;
    width: 100%;
}
.left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    border-top: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
    justify-content: center;
    gap: 5em;
}
.left img{
    width: 40%;
    border-radius: 100px;
}
.add-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 90%;
}
.email{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
    width: 100%;
    padding: 5px;
    gap: 15px;
    justify-content: center;
}
.email:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}
.phone{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    gap: 15px;
    justify-content: center;

}
.phone:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}

.location:hover{
    color: var(--color1);
    transition: color 0.3s ease-in-out;
}
.location{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    gap: 15px;
    justify-content: center;
}
.right{
    display: flex;
    flex-direction: column;
    width: 75%;
    border-top: 1px solid var(--color1);
    padding: 20px;
}
.right h2{
    border-bottom: 1px solid var(--color1);
    color: var(--color1);
    font-size: 3em;
    font-weight: 600;
}
.right p{
    color: var(--color3);
    font-size: 1.5em;
    padding-top: 5px;
}
.em-ph{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-top: 30px;
}
.input1{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    justify-content: center;
    gap: 5px;
}
.input1 label{
    font-size: 1.2em;
    color: var(--color1);
}
.input1 input{
    height: 50%;
    border: none;
    border-radius: 10px;
    padding-left: 2em;
}
.input2{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    justify-content: center;
    gap: 5px;
}
.input2 label{
    font-size: 1.2em;
    color: var(--color1);
}
.input2 input{
    height: 50%;
    border: none;
    border-radius: 10px;
    padding-left: 2em;
}
.ra-mes{
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: column;
    padding: 2% 3.4%;
}
.purpose{
    display: flex;
    align-items: center;
    height: 10%;
    list-style: none;
    color: var(--color3);
    gap: 2em;

}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--color3);
    content: '';
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--color1);
    content: '';
    display: inline-block;
    visibility: visible;
}
.purpose li label{
    padding-left: 6px;
}
.ra-mes .pur{
    color: var(--color1);
    font-size: 1.2em;
}
.message{
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-top: 10px;
}
.message label{
    color: var(--color1);
    font-size: 1.2em;
}
.message textarea{
    height: 90%;
    border-radius: 10px;
    border: none;
    padding: 2em;
    margin-top: 10px;
}
.send-con{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.send{
    color: var(--color3);
    padding: 10px 20px;
    width: 10em;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    background-color: var(--color1);
    cursor: pointer;
    border: none;

}
.send:hover{
    transition: all .2s ease-in-out;
    background-color: var(--color1);
    box-shadow: 0 5px 15px var(--color1);
}

.footer{
    display: flex;
    height: 6vh;
    background-color: var(--color1);
    align-items: center;
    justify-content: center;
}
.footer ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    gap: 5%;
}
.footer ul li a{
    text-decoration: none;
    color: var(--color2);
    cursor: pointer;
}
.footer ul li a:hover{
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    color: var(--color3);
    cursor: pointer;
}



/*Media Query Main content*/
@media (min-width: 850px) and (max-width: 1105px){
    /*Home*/
    .hero span{
        font-size: 3em;    
    }   
    .introduction{
        font-size: 2.2em;
    }
    .introduction::after{
        font-size: 5rem;
    }
    .hire-me {
        width: 20%;
    }
    .hire-me a span {
        padding-right: 5px;
    }
    .nav {
        display: none;
    }
    .main-nav img {
        width: 20%;
    }
    .menu-cta {
        display: initial;
    }
    /*About*/
}
@media (min-width: 325px) and (max-width: 849px) {
    .hero span{
        font-size: 1.7em;    
    }   
    .introduction{
        font-size: 1em;
    }
    .introduction::after{
        font-size: 3rem;
    }
    .main-btn {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .main-btn .dl-cv {
        font-size: 1rem;
    }
    .hire-me {
        width: 30%;
    }
    .hire-me a span {
        font-size: 1.5rem;
        padding-right: 5px;
    }
    .main-nav img {
        width: 20%;
    }
    .menu-cta {
        display: initial;
    }
    .nav {
        display: none;
    }
}







































































/** Media query **/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}



/** end **/